<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @ip.ip %>
</p>

<p>
  <strong>Class c:</strong>
  <%= @ip.class_c %>
</p>

<p>
  <strong>Occupado:</strong>
  <%= @ip.occupado %>
</p>

<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>
